.idea
/compiler/node_modules/
/node_modules/
/compiler/dist/
vm/build/
vm/cmake-build-*/
vm/CMakeCache.txt
vm/CMakeFiles/
vm/cmake_install.cmake
vm/CTestTestfile.cmake
vm/Testing/
vm/_deps/
vm/*.vcxproj
vm/*.vcxproj.filters
vm/*.slnx
vm/*.dir/
vm/vm_test-*_include.cmake
package/node_modules
.tmp-*
demo
vm/.tmp*
package/data
/package/config.json
/package/module.json
/package/user.json
/package/vm.json
/package/dist/
/slang-plugin-jetbrains.iml
/slang-plugin-jetbrains/.gradle/
/slang-plugin-jetbrains/build/
/slang-plugin-jetbrains/gradle/
/slang-plugin-jetbrains/.intellijPlatform/
/slang-jetbrains-plugin/.run/
/slang-jetbrains-plugin/gradle/
*.exe
std/lib