.idea
/compiler/node_modules/
/node_modules/
/compiler/dist/
vm/build/
vm/cmake-build-*/
vm/CMakeCache.txt
vm/CMakeFiles/
vm/cmake_install.cmake
vm/CTestTestfile.cmake
vm/Testing/
vm/_deps/
vm/*.vcxproj
vm/*.vcxproj.filters
vm/*.slnx
vm/*.dir/
vm/vm_test-*_include.cmake
