.idea
/compiler/node_modules/
/node_modules/
/compiler/dist/
vm/build/
vm/cmake-build-*/
vm/CMakeCache.txt
vm/CMakeFiles/
vm/cmake_install.cmake
vm/CTestTestfile.cmake
vm/Testing/
vm/_deps/
vm/*.vcxproj
vm/*.vcxproj.filters
vm/*.slnx
vm/*.dir/
vm/vm_test-*_include.cmake
package/node_modules
.tmp-*
demo
vm/.tmp*
package/data
/package/data/config.json
/package/data/module.json
/package/data/user.json
/package/data/vm.json
/package/dist/
/slang-jetbrains-plugin/.run/
/slang-jetbrains-plugin/gradle/
*.exe
std/lib